<div class="card">
  <div class="card-header">
    <h3>Edit Project Details</h3>
  </div>
  <form [formGroup]="editProjectForm" (ngSubmit)="clickSubmit()">
    <div class="card-body">
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input
          type="text"
          class="form-control"
          name="projectName"
          id="projectName"
          formControlName="projectName"
          value="{{ projectIdData?.projectName }}"
        />
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input
          type="date"
          class="form-control"
          name="startDate"
          id="startDate"
          formControlName="startDate"
          value="{{ orgStartDate }}"
        />
      </div>

      <div class="form-group">
        <label for="projectDesc">Project Description</label>
        <textarea
          type="text"
          class="form-control"
          name="projectDesc"
          id="projectDesc"
          formControlName="projectDesc"
          value="{{ projectIdData?.projectDesc }}"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="projectCost">Project Cost</label>
        <input
          type="number"
          class="form-control"
          name="projectCost"
          id="projectCost"
          formControlName="projectCost"
          value="{{ projectIdData?.projectCost }}"
        />
      </div>

      <div class="form-group">
        <label for="currentExp">Current Expenditure</label>
        <input
          type="number"
          class="form-control"
          name="currentExp"
          id="currentExp"
          formControlName="currentExp"
          value="{{ projectIdData?.currentExp }}"
        />
      </div>

      <div class="form-group">
        <label for="availFunds">Available Funds</label>
        <input
          type="number"
          class="form-control"
          name="availFunds"
          id="availFunds"
          formControlName="availFunds"
          value="{{ projectIdData?.availFunds }}"
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select
          name="status"
          class="form-control"
          id="status"
          formControlName="status"
          value="{{ projectIdData?.status }}"
        >
          <option value="null">Please Select</option>
          <option value="Not started">Not started</option>
          <option value="Ongoing">Ongoing</option>
          <option value="Completed">Completed</option>
        </select>
      </div>

      <div class="form-group">
        <label for="clientId">Client</label>
        <select
          name="clientId"
          class="form-control"
          id="clientId"
          formControlName="clientId"
        >
          <option value="null">Please Select</option>
          <option *ngFor="let client of clientId" value="{{ client.id }}">
            {{ client.clientName }}
          </option>
        </select>
      </div>
    </div>
    <div class="card-footer">
      <a (click)="clickSubmit()" class="btn btn-success">Update</a>
    </div>
  </form>
</div>
