<nav
  class="navbar navbar-expand-lg bg-light sticky-top "
  
>
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink="welcome" routerLinkActive="active"
      >
      <img src="../../assets/vector-logo.svg" style="height:40px">
     </a
    >

    <ul class="navbar-nav me-auto text-dark" *ngIf="loggedIn">
      <li class="nav-item ">
        <a
          class="nav-link text-dark"
          routerLink="dashboard-admin"
          routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="manage-users" routerLinkActive="active"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn text-dark" routerLinkActive="active" (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>

    <div class="dropdown" *ngIf="loggedIn">
      <a class="dropdown-toggle nav-link text-dark" role="button" id="userOptions" data-bs-toggle="dropdown" aria-expanded="false">Welcome user</a>
      <div class="dropdown-menu" aria-labelledby="userOptions">
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-warning" type="submit">Search</button>
    </form> -->
  </div>
</nav>
