<div class="bg-image">
  <!-- <div class="card"> -->
  <!-- <div class="card-header"> -->
  <section class="align-items-center">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center col-lg-6 mt-sm-5">
          <div>
            <h1>A modern solution to plan all your project needs</h1>
            <a
              style="width: 100px"
              class="btn btn-primary m-3"
              routerLink="/sign-up"
              routerLinkActive="active"
              >Sign Up
            </a>
            <a
              style="width: 100px"
              class="btn btn-primary m-3"
              routerLink="/login"
              routerLinkActive="active"
              >Login
            </a>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center col-lg-6 mt-sm-5">
          <img src="../../assets/hero-img.png">
        </div>
      </div>
    </div>
  </section>

  <!-- </div> -->
  <!-- <div class="card-body text-center"> -->

  <!-- {{firstName}} {{lastName}} -->

  <!-- </div> -->
  <!-- </div> -->
</div>
