<div class="container-fluid">
  <h4>Hi userfirstName!</h4>
  <div class="row">
    <div class="col-3 align-self-stretch">
      <div class="d-flex justify-content-left">
        <h5>Projects</h5>
      </div>
      <div class="">
        <ul class="list-group border-0 d-flex">
          <button
            *ngFor="let project of projectList"
            type="button"
            (click)="getProjectDetails(project.id)"
            class="list-group-item border-0 text-start"
          >
            {{ project.projectName }}
          </button>
        </ul>
      </div>
      <div class="d-flex justify-content-left">
        <button
          class="btn btn-secondary"
          routerLink="/create-project"
          routerLinkActive="active"
        >
          Add new project
        </button>
      </div>
      <h5>Current Clients</h5>
      <ul *ngFor="let client of clientList">
        <li>
          {{ client.clientName }}
          <br />
          <button (click)="clickEdit(client.id)" class="btn btn-secondary">
            Edit
          </button>
          <button (click)="clickDelete(client.id)" class="btn btn-secondary">
            Delete
          </button>
        </li>
      </ul>
      <button
        class="btn btn-secondary"
        routerLink="/create-client"
        routerLinkActive="active"
      >
        Add new clients
      </button>
    </div>

    <div class="col-8 align-self-stretch">
      <h5>Project Details</h5>
      <div>
        <div class="card">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Client</th>
                <th scope="col">Project Cost</th>
                <th scope="col">Current Expenditure</th>
                <th scope="col">Available Funds</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectDetails">
                <td>{{ project.projectName }}</td>
                <td>{{ project.startDate | date }}</td>
                <td>{{ clientProject.clientName }}</td>
                <td>{{ project.projectCost | currency }}</td>
                <td>{{ project.currentExp | currency }}</td>
                <td>{{ project.availFunds | currency }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <button
                    (click)="clickEdit(project.id)"
                    class="btn btn-outline-secondary"
                  >
                    Edit
                  </button>
                  <button
                    (click)="clickDelete(project.id)"
                    class="btn btn-outline-secondary"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h5>Team Members</h5>
        <div class="card">
          <button
            class="btn btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#displayUsers"
          >
            Add team members
          </button>
          <!-- Modal -->
          <div class="modal" id="displayUsers">
            <form
              [formGroup]="addTeamMemberForm"
              (ngSubmit)="addTeam(projectDetails[0].id)"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add team members</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <select formControlName="teamMember">
                      <option value="null">Please select</option>
                      <option
                        *ngFor="let user of userList"
                        value="{{ user.id }}"
                      >
                        {{ user.firstName | titlecase }}
                        {{ user.lastName | titlecase }} : {{ user.designation }}
                      </option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      data-bs-dismiss="modal"
                    >
                      Add
                    </button>

                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>

                  <th scope="col">Designation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of projectTeam">
                  <td>
                    {{ user.firstName | titlecase }}
                    {{ user.lastName | titlecase }}
                  </td>

                  <td>
                    {{ user.designation }}
                  </td>
                  <td>
                    <button
                      (click)="deleteTeamMember(user.id, projectDetails[0].id)"
                      class="btn btn-secondary"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
          </div>
        </div>
        <!-- <div class="col-sm-6">
      <h5 class="card-header text-center align-center justify-content-center">
        Project Briefing
      </h5>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">Project Cost</th>
            <td>$2113507</td>
          </tr>

          <tr>
            <th scope="row">Current Expenditure</th>
            <td>$96788</td>
          </tr>

          <tr>
            <th scope="row">Available Funds</th>
            <td>$52536</td>
          </tr>
        </tbody>
      </table>
    </div> -->
      </div>
    </div>
  </div>
</div>
